

@font-face {
  font-family: 'haettenschweilerregular';
  src: url('../../fonts/haettenschweiler-regular-webfont.woff2') format('woff2'),
       url('../../fonts/haettenschweiler-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: lightgrey;
  margin:0px;
  padding:0px;
}

span{
  margin:.2em;
  font-family: sans-serif;
}

p{
  margin:.5em;
  font-family: sans-serif;
}

.Banner {
  margin:.2em;
  font-size: 2.5em;
  font-family: haettenschweilerregular, Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
  "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
.Main {
  font-family: haettenschweilerregular,Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
    "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  align-content: center;
  font-size: 4em;
  color: white;
  margin-bottom: auto;
  line-height: 0.8em;
  margin-top:0.15em;
}

.Title {
  font-family: haettenschweilerregular, Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
    "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

  align-content: center;
  font-size: 4em;
  margin-top: auto;
  line-height: 0.8em;
  margin-bottom:0.15em;
}



.MainApp {
  background-color:lightgrey;
}

.OuterBox {
  border-style: solid;
  border-color: white;
  border-width:5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 25em;
  height: 25em;
  text-align: center;
  align-content: center;
  align-items: center;

}

.Controls {
  margin:.5em;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  width:15%;
}

.Instructions {
  font-family: sans-serif;
  font-size: 1.25em;
}

.ButtonWrapper {
  display:flex;
  justify-content: left;
}

.ColorChoice {
  width: 1.7em;
  height: 1.7em;
  border-width: .1em;
  border-style: solid;
}

$red:	#8B0000;
$gold : #FFD700;
$orange : #FF8C00;
$green :	#006400;
$teal :	#008080;
$purple :	#483D8B;
$violet :	#C71585;
$slate :	#2F4F4F;
$silver :	#C0C0C0;
$brown : #8B4513;
$white : #ffffff;
$black: #000000;

.red {
  background-color: $red;
}

.gold {
  background-color:  $gold;
}

.orange {
  background-color: $orange;
}

.green {
  background-color:  $green;
}

.teal {
  background-color: $teal;
}

.purple {
  background-color: $purple;
}

.slate {
  background-color: $slate;
}

.violet {
  background-color: $violet;
}
.silver {
  background-color: $silver;
}

.brown {
  background-color: $brown;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}

.blackStyle {
  background-color: black;
  color: $orange;
  margin: .5em;
  font-size: 2em;
  font-family: haettenschweilerregular, Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat",
  "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}